<html th:replace="~{base :: template (~{:: div})}">

<body>
	<div>
		<div th:replace="~{base :: titulo('Cadastrar novo serviço para ' + ${servicoAddCliente.nome})}" />

		<div class="card mt-3">
			<div class="alert alert-dark" role="alert" th:if="${errorMessage}">
				<div th:text="${errorMessage}" />
			</div>
			<form th:object="${cadastrarServicoDTO}" class="card-body" th:action="@{/servico}" method="POST">

				<!--<div class="form-group">
					<label for="tipo">Tipo Serviço</label>
					<select th:field="*{tipo}" id="tipoServico" class="form-select"
						aria-label=".form-select-sm example">
						<option value="">...</option>
						<option th:field="*{tipo}" th:each="tipo : ${tiposEnum}" th:value="${tipo.id}"
							th:text="${tipo.descricao}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{tipo}">
					</div>
				</div>-->

				<div class="form-group">
					<label for="valor">Valor R$</label>
					<input th:field="*{valor}" id="valorServico" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{valor}"></div>
				</div>

				<div class="form-group">
					<label for="anoReferencia">Ano Referência</label>
					<input th:field="*{anoReferencia}" id="valorServico" th:errorClass="is-invalid" class="form-control"
						maxlength="4" minlength="4" />
					<div class="invalid-feedback" th:errors="*{anoReferencia}"></div>
				</div>

				<div class="mb-3">
					<label for="observacoes" class="form-label">Observerções</label>
					<textarea class="form-control" th:field="*{observacoes}" rows="3" placeholder="Opional" maxlength="200"></textarea>
				</div>

				<button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>

</html>