<html th:replace="~{base :: template (~{:: div})}">

<body>
	<div>
		<div th:replace="~{base :: titulo('Detalhes do Cliente')}" />

		<div class="d-flex justify-content-between">
			<div class="container-fluid">

			</div>
			<div class="dropdown">
				<a class="btn dropdown-toggle btn-outline-dark" href="#" role="button" id="dropdownMenuLink"
					data-bs-toggle="dropdown" aria-expanded="false">
					Ações
				</a>

				<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<li><a class="dropdown-item" type="button" th:href="@{'/servico/form/' + ${cliente.id} }">Cadastrar
							Serviço</a></li>
					<li><a class="dropdown-item" type="button"
							th:href="@{'/acessoPortal/form/' + ${cliente.id} }">Cadastrar
							Acessos Portais</a></li>
				</ul>
			</div>
		</div>
		<dl class="row">
			<dt class="col-sm-3">Nome</dt>
			<dd class="col-sm-9" th:text="${cliente.nome}"></dd>

			<dt class="col-sm-3" th:if="${cliente.tipo.toString eq 'PF'}">CPF</dt>
			<dd class="col-sm-9 colunmCpf" th:text="${cliente.cpfCnpj}" th:if="${cliente.tipo.toString eq 'PF'}"></dd>

			<dt class="col-sm-3" th:if="${cliente.tipo.toString eq 'PJ'}">CNPJ</dt>
			<dd class="col-sm-9 colunmCnpj" th:text="${cliente.cpfCnpj}" th:if="${cliente.tipo.toString eq 'PJ'}"></dd>

			<dt class="col-sm-3">RG</dt>
			<dd class="col-sm-9" th:text="${cliente.rg}"></dd>

			<dt class="col-sm-3">Título de Eleitor</dt>
			<dd class="col-sm-9" th:text="${cliente.tituloEleitor}"></dd>

			<dt class="col-sm-3">Contatos</dt>
			<dd class="col-sm-9">
				<dl class="row">
					<dt class="col-sm-4">Telefone</dt>
					<dd class="col-sm-8 colunmNumContato" th:text="${cliente.numContato}"></dd>

					<dt class="col-sm-4">E-mail</dt>
					<dd class="col-sm-8" th:text="${cliente.email}"></dd>
				</dl>
			</dd>

			<dt class="col-sm-3">Data de nascimento</dt>
			<dd class="col-sm-9" th:text="${#temporals.format(cliente.dtNascimento, 'dd/MM/yyyy')}"></dd>

			<dt class="col-sm-3" th:if="${cliente.servicos != null and !cliente.servicos.empty}">Serviços</dt>
			<dd class="col-sm-9 card" th:if="${cliente.servicos != null and !cliente.servicos.empty}">
				<dl class="row card-body" th:each="servico : ${cliente.servicos}">
					<dt class="col-sm-4" th:text="'Referente ao Ano ' + ${servico.anoReferencia}"></dt>
					<a type="button" class="col-1 btn btn-outline-dark" th:href="@{'/servico/editar/' + ${servico.id} }"><i
							class="bi bi-pen-fill"></i></a>
					<dl class="row">
						<dd class="col-sm-3" th:text="${#temporals.format(servico.data, 'dd/MM/yyyy')}"></dd>
						<dd class="col-sm-8" th:text="'R$ ' + ${servico.valor}"></dd>
						<dt th:if="${servico.observacoes ne ''}" class="col-sm-2">Observações:</dt>
						<dd th:if="${servico.observacoes ne ''}" class="col-sm-5" th:text="${servico.observacoes}"></dd>

					</dl>
				</dl>
			</dd>

			<dt class="col-sm-3" th:if="${cliente.acessos != null and !cliente.acessos.empty}">Credenciais de Acesso a
				Portais</dt>
			<dd class="col-sm-9 card" th:if="${cliente.acessos != null and !cliente.acessos.empty}">
				<dl class="row card-body" th:each="acesso : ${cliente.acessos}">
					<dt class="col-sm-2" th:text="${acesso.descricao}"></dt>
					<a type="button" class="col-1 btn btn-outline-dark"
						th:href="@{'/acessoPortal/editar/' + ${acesso.id} }"><i class="bi bi-pen-fill"></i></a>
					<button class="col-1 btn btn-outline-dark btnRemoverclass" id="btnConfirmExcluirAcesso"
						th:value="${acesso.id}"><i class="bi bi-trash3-fill"></i></button>
					<dl class="row">
						<dd class="col-sm-3" th:text="'Código: ' + ${acesso.codigoAcesso}"></dd>
						<dd class="col-sm-3" th:text="'Senha: ' + ${acesso.senha}"></dd>
						<!-- <a type="button" class="col-sm-2">
							<i class="bi bi-eye-slash-fill"></i> fazer chave de visualizar ou esconder senha-->
						</a>
					</dl>
				</dl>
			</dd>
		</dl>





		<!--<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" th:checked="${cliente.ativo}"
				disabled>
			<label th:text="${cliente.ativo} ? Ativo : Desativado" class="form-check-label"
				for="flexSwitchCheckChecked"></label>

		</div>-->
</body>

</html>