<html th:replace="~{base :: template (~{:: div})}">

<body>
	<div>
		<div th:replace="~{base :: titulo('Cadastrar Novo Cliente')}" />

		<div class="card mt-3">
			<div class="alert alert-dark" role="alert" th:if="${errorMessage}">
				<div th:text="${errorMessage}" />
			</div>
			<form th:object="${clienteIRCadastroDTO}" class="card-body" action="/cliente" method="POST">
				<div class="form-group">
					<input th:field="*{id}" type="hidden" />
					
					<label for="nomeIR">Nome</label>
					<input th:field="*{nomeIR}" th:errorClass="is-invalid" class="form-control" maxlength="100"
						minlength="3" />
					<div class="invalid-feedback" th:errors="*{nomeIR}">
					</div>
				</div>
				<div class="form-group" >
					<label for="tipoIR">Tipo Cliente</label>
					<select th:field="*{tipoIR}" class="form-select" aria-label=".form-select-sm example"
						onchange="mudarNomeCampoCpfCnpj()" th:errorClass="is-invalid">
						<option value="" selected>Please select...</option>
						<option th:field="*{tipoIR}" th:each="tipo : ${tiposClientes}" th:value="${tipo}"
							th:text="${tipo}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{tipoIR}">
					</div>
				</div>
				<div class="form-group" id="divCpf">
					<label for="cpfIR">CPF</label>
					<input th:field="*{cpfIR}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{cpfIR}"></div>
				</div>
				<div class="form-group" id="divCnpj">
					<label for="cnpjIR">CNPJ</label>
					<input th:field="*{cnpjIR}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{cnpjIR}"></div>
				</div>
				<div class="form-group">
					<label for="rgIR">RG</label>
					<input th:field="*{rgIR}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{rgIR}"></div>
				</div>
				<div class="form-group">
					<label for="tituloIR">Título de Eleitor</label>
					<input th:field="*{tituloIR}" th:errorClass="is-invalid" class="form-control" />
					<div id="divShowErroFieldTitulo" class="invalid-feedback" th:errors="*{tituloIR}"></div>
				</div>

				<div class="form-group">
					<label for="numContatoIR">Nº Contato</label>
					<input th:field="*{numContatoIR}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{numContatoIR}"></div>
				</div>

				<div class="form-group">
					<label for="emailIR">E-mail</label>
					<input th:field="*{emailIR}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{emailIR}"></div>
				</div>

				<div class="form-group">
					<label for="dtNascimentoIR">Data Nascimento</label>
					<input th:field="*{dtNascimentoIR}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{dtNascimentoIR}">
					</div>
				</div>

				<button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>

</html>