<html th:replace="~{base :: template (~{:: div})}">

<body>
	<div>
		<div th:replace="~{base :: titulo('Cadastrar Novo Cliente')}" />

		<div class="card mt-3">
			<div class="alert alert-dark" role="alert" th:if="${errorMessage}">
				<div th:text="${errorMessage}" />
			</div>
			<form th:object="${clientePFDTO}" class="card-body" action="/cliente" method="POST">
				<div class="form-group">
					<label for="nomePF">Nome</label>
					<input th:field="*{nomePF}" th:errorClass="is-invalid" class="form-control" maxlength="100"
						minlength="3" />
					<div class="invalid-feedback" th:errors="*{nomePF}">
					</div>
				</div>
				<div class="form-group">
					<label for="tipo">Tipo Cliente</label>
					<select th:field="*{tipo}"  class="form-select" aria-label=".form-select-sm example"
						onchange="mudarNomeCampoCpfCnpj()" th:errorClass="is-invalid">
						<option value="" selected>Please select...</option>
						<option th:field="*{tipo}" th:each="tipo : ${tiposClientes}" th:value="${tipo}"
							th:text="${tipo}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{tipo}">
					</div>
				</div>
				<div class="form-group" id="divCpfCnpj">
					<label for="cpfCnpjPF" id="campoCpfCnpjPF">CPF</label>
					<input th:field="*{cpfCnpjPF}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{cpfCnpjPF}"></div>
				</div>
				<div class="form-group">
					<label for="rgPF">RG</label>
					<input th:field="*{rgPF}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{rgPF}"></div>
				</div>
				<div class="form-group">
					<label for="tituloPF">Título de Eleitor</label>
					<input th:field="*{tituloPF}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{tituloPF}"></div>
				</div>

				<div class="form-group">
					<label for="numContatoPF">Nº Contato</label>
					<input th:field="*{numContatoPF}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{numContatoPF}"></div>
				</div>

				<div class="form-group">
					<label for="emailPF">E-mail</label>
					<input th:field="*{emailPF}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{emailPF}"></div>
				</div>

				<div class="form-group">
					<label for="dtNascimentoPF">Data Nascimento</label>
					<input th:field="*{dtNascimentoPF}" th:errorClass="is-invalid" class="form-control" />
					<div class="invalid-feedback" th:errors="*{dtNascimentoPF}">
					</div>
				</div>




				<button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>

</html>