<html th:replace="~{base :: template (~{:: div})}">

<body>
	<div>
		<div th:replace="~{base :: titulo('Clientes para Imposto de Renda')}" />

		<div class="d-flex justify-content-between">
			<div class="container-fluid">

			</div>
			<span class="mb-3 mr-2">
				<a type="button" class="btn btn-outline-dark" href="form">Novo</a>
			</span>
		</div>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>CPF/CNPJ</th>
					<th>Telefone</th>
					<th>E-mail</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<th th:text="${cliente.nomeCliente}"></th>
					<th class="colunmCpf" th:text="${cliente.cpfCnpjCliente}" th:if="${cliente.tipo.toString eq 'PF'}">
					</th>
					<th class="colunmCnpj" th:text="${cliente.cpfCnpjCliente}" th:if="${cliente.tipo.toString eq 'PJ'}">
					</th>
					<th class="colunmNumContato" th:text="${cliente.numContato}"></th>
					<!--<th th:text="${#temporals.format(cliente.dtNascimento, 'dd/MM/yyyy')}"></th>-->
					<th th:text="${cliente.email}"></th>
					<th>
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
									data-bs-toggle="dropdown" aria-expanded="false">
									Ações
								</button>
								<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<li><a type="button" class="dropdown-item" th:href="@{'detalhar/' + ${cliente.id}}"
											th:text="Detalhar"></a></li>
								</ul>
							</div>
						</div>
					</th>
				</tr>

			</tbody>
		</table>
	</div>
</body>

</html>